.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: Monserrat;
  src: url(./fonts/montserrat/Montserrat-Light.otf)
}

.form select, .form input{
  font-size: calc(4px + 2vmin);
  font-style: italic;
  background-color: #f2f2f32d;
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  color: rgba(99, 98, 98, 0.473);
  border-color: #a8a8a86b;
  margin: 10px;
  text-align: left;
  font-family: Monserrat;
  width: calc(300px + 2vmin);
}


label {
  padding: 10px;
  font-family: Monserrat;
}

.classicButton, .update-btn, .delete-btn, .close-btn, .modalButton, .logIn, .signIn{
  font-size: calc(4px + 2vmin);
  font-family: Monserrat;
  background: #f2f2f32d;
  padding: 10px;
  border-radius: 10px;
  border-color: #a8a8a86b;
  text-align: center;
  color: black;
  margin: 10px;
  border-style: none;
  display: flex;
  width: calc(100px + 2vmin);
  justify-content: center;
  cursor: pointer;
}

.circle-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%; /* Torna o input redondo */
  background-color: #ddd; /* Cor de fundo */
  cursor: pointer;
  overflow: hidden;
}

.circle-input-label:hover {
  background-color: #ccc; /* Cor ao passar o mouse */
}

.circle-input {
  display: none; /* Esconde o input padrão */
}

.circle-input-label::before {
  content: '+';
  font-size: 40px;
  color: #888;
}

.circle-input-label-after::before {
  content: 'Uploaded';
  font-size: 10px;
  color: #888;
}

.form-row-sing{
  display: flex;
  flex-direction: column;
  
}

.form-row-sing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.input-foto {
  flex: 0 0 auto;
  margin-right: 20px;
}

.inputs-right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.input-modal {
  margin-bottom: 10px;
}

.circle-input {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.logIn:focus, .logIn:hover {
  background-color: #e62b92;
  box-shadow:0 0 .25em #e62b92;
}

.divButtons{
  display: flex; /* Usa flexbox para alinhar os botões lado a lado */
  gap: 10px; /* Espaço entre os botões */
  height: 100%;
  /*width: 100dvh;*/
}

.signIn:focus, .signIn:hover {
  box-shadow:0 0 .25em #443f42;
}

.logIn {
  background: #D64695;
  color: #ffff;
}

.senhaLoginLabel{
  display: flex;
  flex-direction: column;
}

.loginLabel{
  display: flex;
  flex-direction: column;
}

.form {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.logo {
  text-align: center;
  height: 45vh;
  width: 45vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-header {
  text-align: center;
  color: white;
  background-size: "100%";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8eded;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("./img/fundo.png");
}

.caixa {
  text-align: center;
  color: white;
  background-size: "100%";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 235, 235);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.header-caixa {
  height: 50px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 0;
  display: flex;
  font-family: Monserrat;
  text-align: center;
  justify-content: flex-start;
  font-size: calc(0.5px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #d8cece98;
  border-width: 5px;
}

.logoHeader {
  height: 15vh;
  width: 15vh;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #D64695 50%);
  bottom:0;
  left:-60%;
  opacity:.5;
  position:fixed;
  right:-60%;
  top:0;
  z-index:-1;
}


.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  position:fixed;
  top:50%;
  transform:translate(-50%, -50%);
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  font-size: calc(4px + 2vmin);
  color: black;
  border-radius: 15px;
  display: flex;
  align-items: center;  
}

.content-comunidades {
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  position:fixed;
  top:50%;
  transform:translate(-50%, -50%);
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  font-size: calc(4px + 2vmin);
  color: black;
  border-radius: 15px;
  display: flex;
  align-items: left;  
  flex-direction: column;
}


.chatText{
  top: 30px;
  font-size: 22px;
  font-weight: 600;
  font-family: Monserrat;
  background: #070707;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
}
.chat {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.topText{
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
}

.labelComunidades{
  top: 0;
  margin-bottom: 20px;
}

.chatBackground {
  width: 100%;
  height: 65px;
  bottom: 0;
  position: fixed;
  display: flex;
  background-color: white;
  align-content: flex-start;
  justify-content: center;
}

.chatMessages{
  width: 100%;
  flex-grow: 1;
  padding: 20px 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatForm{
  display: flex;
  justify-content: center;
  width: 120dvh;
  position: fixed;
  bottom: 0;
}

.chatInput{
  border-radius: 10px;
  border: 0.1px solid rgb(236, 232, 232);
  width: 100%;
  font-size: 1rem;

}

.send-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.send-img:hover{
  animation: expander 1.0s;

}


.chatButton {
  margin: 10px;
  border-style: none;
  background: none;
}

.chatMessages > div {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 22px;
}

.messageSelf{
  background-color: #fac9e1;
  color: #121212;
  align-self: flex-end;
  border-radius: 10px 10px 0px 10px;
}

.messageOther{
  background-color: #ebddea;
  color: #121212;
  align-self: flex-start;
  border-radius: 10px 10px 10px 0px;
}

.messageUser {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
}


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes expander {
  0% {
  
    transform: scale(1);
  }

  50% {
 
    transform: scale(1.2);
  }
  

  100% {

    transform: scale(1);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}